name: footware
description: "A new Flutter project."

publish_to: 'none' # Remove this line if you wish to publish to pub.dev


version: 1.0.0+1

environment:
  sdk: ^3.8.1


dependencies:
  firebase_core: ^4.2.1
  cloud_firestore: ^6.1.0
  get: ^4.7.2
  dropdown_button2: ^2.3.9
  build_runner: ^2.10.4
  json_serializable: ^6.11.1
  flutter:
    sdk: flutter

  
  cupertino_icons: ^1.0.8

dev_dependencies:
  flutter_test:
    sdk: flutter


  flutter_lints: ^5.0.0


flutter:


  uses-material-design: true

  
